{% extends 'base/main_user_base.html' %}
<!-- page heading start-->
{% block page_heading %}
    <div class="page-heading">
        <h3>
            绑定邮箱
        </h3>
        <ul class="breadcrumb">
            <li>
                <a href="#">Dashboard</a>
            </li>
            <li class="active"> My Dashboard</li>
        </ul>
    </div>
{% endblock %}
<!-- page heading end-->

<!--body wrapper start-->
{% block body_wrapper %}
    <div class="wrapper">
        邮件验证页面<br>
        原始邮箱：{% if current_user %}{{ current_user.email }}{% else %}还没有邮箱{% endif %}
        <form class="login" method="post" action="/account/bind_user_email/">
            {% csrf_token %}
            <p>新邮箱地址：<br><input type="text" name="email"></p>
            <input type="submit" value="发送">
{#            {% message %}#}
        </form>
    </div>
{% endblock %}
<!--body wrapper end-->