{% extends 'base/main_user_base.html' %}

{% block head %}
<link href="/static/common/sweetalert/sweetalert.css" rel="stylesheet">
<script src="/static/common/sweetalert/sweetalert.min.js"></script>
{% endblock %}


{% block page_heading %}
        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                权限管理 <small>Subtext for header</small>
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <a href="#">Extra Pages</a>
                </li>
                <li class="active">权限管理 </li>
            </ul>
        </div>
        <!-- page heading end-->
{% endblock %}


{% block body_wrapper %}
    <div class="wrapper">

    {% if user_perms.article %}
        你拥有文档权限
    {% endif %}

                    <header class="panel-heading">
                        <p style="width: 100px;">
                                <span class="input-group-addon btn btn-info" id="tag-btn">为用户添加角色</span>
                        </p>
                        <form class= "login" method="post" action="/permission/user_add_role/">
                            {% csrf_token %}
                              <p>用户ID<input type="text" name="userid">  角色ID<input type="text" name="roleid">
                                <input type="submit"></p>
                        </form>

                        <p style="width: 100px;">
                                <span class="input-group-addon btn btn-info" id="tag-btn">为角色添加权限</span>
                        </p>
                        <form class= "login" method="post" action="/permission/role_add_permission/">
                             {% csrf_token %}
                              <p>角色ID<input type="text" name="roleid">  权限ID<input type="text" name="permissionid">
                                <input type="submit"></p>
                        </form>
                    </header>

           <!-- 角色列表 -->
          <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                        <p style="width: 100px;">
                            <span class="input-group-addon btn btn-info" id="tag-btn">添加角色</span>
                        </p>
                        <form class= "login" method="post" action="/permission/add_role/">
                            {% csrf_token %}
                                <p>角色名<input type="text" name="name">
                                <input type="submit"></p>
                        </form>
                    </header>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>角色名</th>
                                <th>编辑</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for role in roles %}
                                    <tr>
                                        <td>{{role.id}}</td>
                                        <td>{{role.name}}</td>

                                        <td>
                                            <a href="/permission/del_role?id={{ role.id }}" >删除</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
          </div>
          <!-- 角色列表结束 -->

          <!-- 权限列表 -->
           <div class="row">
             <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                        <p style="width: 100px;">
                                <span class="input-group-addon btn btn-info" id="tag-btn">添加权限</span>
                        </p>
                       <form class= "login" method="post" action="/permission/add_permission/">
                           {% csrf_token %}
                                <p>权限名<input type="text" name="name">
                                权限码<input type="text" name="strcode">
                                <input type="submit"></p>
                       </form>
                    </header>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>权限名</th>
                                <th>权限码</th>
                                <th>编辑</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for permission in permissions %}
                                    <tr>
                                        <td>{{permission.id}}</td>
                                        <td>{{permission.name}}</td>
                                        <td>{{permission.strcode}}</td>
                                        <td>
                                            <a href="/permission/del_permission?id={{ permission.id }}" >删除</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </section>
             </div>
          </div>
          <!-- 权限列表结束 -->

          <!-- 菜单列表 -->
         <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                        <p style="width: 100px;">
                                <span class="input-group-addon btn btn-info" id="tag-btn">为菜单添加权限</span>
                        </p>
                       <form class= "login" method="post" action="/permission/add_menu/">
                           {% csrf_token %}
                                <p>菜单名<input type="text" name="name">
                                权限ID<input type="text" name="permissionid">
                                <input type="submit"></p>
                       </form>
                    </header>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>菜单名</th>
                                <th>权限码</th>
                                <th>编辑</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for menu in menus %}
                                    <tr>
                                        <td>{{menu.id}}</td>
                                        <td>{{menu.name}}</td>
                                        <td>{% if menu.permission %}{{menu.permission.strcode}}{%endif%}</td>
                                        <td>
                                            <a href="/permission/del_menu?menuid={{ menu.id }}" >删除</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
          </div>
         <!-- 菜单列表结束 -->
        <!-- 视图列表 -->
         <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                        <p style="width: 100px;">
                                <span class="input-group-addon btn btn-info" id="tag-btn">为处理器添加权限</span>
                        </p>
                       <form class= "login" method="post" action="/permission/add_handler/">
                           {% csrf_token %}
                                <p>视图名<input type="text" name="name">
                                权限ID<input type="text" name="permissionid">
                                <input type="submit"></p>
                       </form>
                    </header>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>视图名</th>
                                <th>权限码</th>
                                <th>编辑</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for handler in handlers %}
                                    <tr>
                                        <td>{{handler.id}}</td>
                                        <td>{{handler.name}}</td>
                                        <td>{{handler.permission.strcode}}</td>
                                        <td>
                                            <a href="/permission/del_handler?handlerid={{ handler.id }}" >删除</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
          </div>
         <!-- 视图列表结束 -->
          <!-- 用户权限列表 -->
         <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                                用户权限列表(用户属于哪个角色，这个角色拥有什么权限)
                    </header>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>用户名</th>
                                <th>角色</th>
                                <th>权限</th>
                                <th>编辑</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for user in users %}
                                    <tr>
                                        <td>{{user.id}}</td>
                                        <td>{{user.name}}</td>
                                        <td>
                                            {% for role in user.role_set.all %}
                                                {{role.name}}<br/>
                                            {% endfor %}
                                        </td>
                                        <td>
                                            {% for role in user.role_set.all %}
                                                {% for permission in role.permission_set.all %}
                                                    {{ permission.id }}:{{permission.name}}<br/>
                                                {% endfor %}
                                            {% endfor %}
                                        </td>

                                        <td>
                                            <a href="/permission/del_user_role?userid={{ user.id }}" >删除</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
          </div>
         <!-- 用户权限列表结束 -->
         <!-- 添加用户到研发部门 -->
            <div class="row">
             <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                        <p style="width: 100px;">
                                <span class="input-group-addon btn btn-info" id="tag-btn">添加用户到研发部门</span>
                        </p>
                       <form class= "login" method="post" action="/permission/add_user_dev/">
                           {% csrf_token %}
                                <p>用户ID<input type="text" name="userid"> 部门ID(角色ID)<input type="text" name="roleid">
                                <input type="submit"></p>
                       </form>
                        研发部员工列表
                    </header>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>用户名</th>
                                <th>角色</th>
                                <th>权限</th>
                                <th>编辑</th>
                            </tr>
                            </thead>
                             <tbody>
                                    {% for user in dev_users %}
                                        <tr>
                                            <td>{{user.id}}</td>
                                            <td>{{user.name}}</td>
                                            <td>
                                                {% for role in user.role_set.all %}
                                                    {{role.name}}<br/>
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for role in user.role_set.all %}
                                                    {% for permission in role.permission_set.all %}
                                                        {{ permission.id }}:{{permission.name}}<br/>
                                                    {% endfor %}
                                                {% endfor %}
                                            </td>

                                            <td>
                                                <a href="/permission/del_user_dev?userid={{ user.id }}&roleid={{dev_role_id}}" >删除</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                             </tbody>
                        </table>
                    </div>
                </section>
             </div>
          </div>
         <!-- 添加用户到研发部门结束 -->
        </div>
{% endblock %}

{% block end %}

{% endblock %}